.partner__data {
	background-color: #f8f9fa;
	padding: 20px;
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-top: 20px;

	h3 {
		text-align: center;
		margin-bottom: 20px;
	}

	.partner__text {
		ul {
			padding: 0;
			margin-bottom: 15px;
			border-bottom: 2px solid #ddd;

			li {
				padding: 10px 10px 10px 0;
				display: flex;
				justify-content: space-between;

				&:nth-child(even) {
					background-color: #e9ecef;
				}

				strong {
					margin-right: 10px;
				}
			}
		}
	}
}
