@import "./components/all";
@import "./variables";

@import "./libs/normalize";

body {
  background-color: $background;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;
}

.container {
  padding-left: 20px;
  padding-top: 40px;
}
